.backdrop-container {
    background: rgb(50,50,50);
    background: linear-gradient(308deg, rgba(50,50,50,0.3) 6%, rgba(50,50,50,0.3) 12%);
  width: 100%;
  height: 100%;
  z-index: 1;

  position: absolute;

  border-radius: 5px;
  opacity: .7;

}
